<!DOCTYPE html>
<html>
    <head>
        <title>Personal Galaxy</title>
    </head>
    <body>
        <div class="apps">
            <div class="app">Calendar</div>
            <div class="app">Email</div>
            <div class="app">Contacts</div>
            <div class="app">Files</div>
            <div class="app">Photos</div>
            <div class="app">RSS</div>
        </div>
    </body>
</html>
